*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}


body{
    min-height: 100vh;
    background:#3f8880 ;
    display: grid;
    justify-content: center;
    align-items: center;
}

.calculadora{

    width:350px;
    max-width:100%;
    background:#0c181c;
   
    border-radius: 1rem;
    padding:1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
}


.pantalla{
   grid-column: 1/5; 
   background-color: #54e5d6;
   padding:2rem;
   border-radius: 0.5rem;
   margin-bottom:1rem;
   text-align:right;
   font-family: ' monospace';
   font-size: 1.5rem ;
   font-weight: 600;
  
}

.btn{
    background-color:#6aa3b4 ;
    padding:1.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
 
}

.btn:hover{
    background-color:#407cd5;
}

.btn_signo{
    background-color: yellow;
}


#cero{
    grid-column:1 /3;
   
}




#igual{
    grid-row: span 2;
    border-radius: 1rem;
   
}

